description = "Menu do Blog"
==
<div class="header__topo">
    <a href="{{ 'home'|page }}" class="header__topo--logo"><img src="{{ 'assets/images/logo.png'|theme }}" alt="Portal Blog"></a>
    <ul class="header__topo--menu menu">
        <li class="menu__item"><a href="{{ 'o-blog'|page }}" class="menu__item--link">O Blog</a></li>
        <li class="menu__item"><a href="{{ 'iniciativas'|page }}" class="menu__item--link">Iniciativas</a></li>
        <li class="menu__item"><a href="{{ 'beneficios'|page }}" class="menu__item--link">Benefícios</a></li>
        <li class="menu__item"><a href="{{ 'destaque'|page }}" class="menu__item--link">Programa Destaque</a></li>
    </ul>
    <ul class="header__topo--actions">
        <li><a href="#" class="search">Pesquisar</a></li>
        <li><a href="#">Entrar/Cadastrar</a></li>
    </ul>
</div>
<ul class="submenu">
    <li class="submenu__item"><a href="#" class="submenu__item--link">Pilhar 1</a></li>
    <li class="submenu__item"><a href="#" class="submenu__item--link">Pilhas 2</a></li>
    <li class="submenu__item"><a href="#" class="submenu__item--link">Pilhas 3</a></li>
    <li class="submenu__item"><a href="#" class="submenu__item--link">Pilhas 4</a></li>
    <li class="submenu__item"><a href="#" class="submenu__item--link">Pilhas 5</a></li>
</ul>
<hr>