<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ this.page.description }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ this.page.title }} - Portal</title>
    <link rel="icon" type="image/png" href="{{ 'assets/images/icon.png'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/reset.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/main.css'|theme }}">
</head>
<body>
    <header>
        {% partial 'site/header' %}
    </header>

    <main>
        {% page %}
    </main>

    <footer>
        {% partial 'site/footer' %}
    </footer>
</body>
</html>